<form class="mb-3">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label class="sr-only">Dni</label>
        <input name="dni" type="text" class="form-control" placeholder="Dni">
     <!--   <input #dni="ngModel" name="dni" type="text" class="form-control" [(ngModel)]="buscarPersonas.NIF" placeholder="Dni">
    -->  
    </div>
      <div class="form-group col-md-2">
        <label class="sr-only">Nombre</label>
        <!--
        <input #nombre="ngModel" name="nombre" type="text" [(ngModel)]="buscarPersonas.NOMBRE" class="form-control" readonly placeholder="Nombre">
        -->   
        <input name="nombre" type="text" class="form-control" readonly placeholder="Nombre"> 
     </div>
      <div class="form-group col-md-2">
        <label class="sr-only">Ape1</label>
        <!--
        <input #ape1="ngModel" name="ape1" type="text" [(ngModel)]="buscarPersonas.APE1" class="form-control" readonly  placeholder="Ape1">
        -->    
        <input name="ape1" type="text" class="form-control" readonly  placeholder="Ape1">
     </div>
      <div class="form-group col-md-2">
        <label class="sr-only">Ape2</label>
        <!--
        <input #ape2="ngModel" name="ape2" type="text" [(ngModel)]="buscarPersonas.APE2" class="form-control" readonly  placeholder="Ape2">
        -->
     </div>

      
      <div *ngIf="buscarPersonas.IDPERSONA==0" class="form-group col-md-2">
        <button type="submit"
        class="form-group btn btn-primary mb-2">
        <i class="fas fa-search"></i>
          Buscar
      </button>
      <!-- 
        <button (click)="buscarNuevoAutorizado()" type="submit"
          class="form-group btn btn-primary mb-2">
          <i class="fas fa-search"></i>
            Buscar
        </button>
        -->
      </div>
      <!--
      <div *ngIf="buscarPersonas.IDPERSONA>0" class="form-group col-md-2">
        <button (click)="limpiarPantalla()" type="submit"
          class="form-group btn btn-danger mb-2">
          <i class="fas fa-undo"></i>
            Deshacer
        </button>
      </div>
    -->
    </div> 
</form>
  
