<h3>Buscar Asignados </h3>

<form class="mb-3">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label class="sr-only">Mercadillo</label>
      <select class="form-control" #mercadillo>
        <option *ngFor="let mercadillo of mercadillos;let i = index" 
        [value]="mercadillo.IDMERCADILLO">
      {{mercadillo.DESCRIPCION}}
    </option> 
  </select>      

  </div>
   <!-- mercadillo.value,  mercadillo.selectedIndex, mercadillo.value-->
    <div class="form-group col-md-3">
      <button (click)="buscarAsignados(mercadillo.selectedIndex, mercadillo.value)" type="submit"
        class="form-group mx-sm-2 btn btn-outline-primary mb-2">
        <i class="fa fa-search"></i>
        Buscar
      </button>

    </div>

    <div *ngIf="asignados.length>0" class="form-group col-md-2">
      <button (click)="generarTablaPdf()" type="button" class="btn btn-outline-danger mb-2 ml-3"> 
        Descargar <i class="far fa-file-pdf"></i>
        </button>
    </div>
    <div *ngIf="asignados.length>0" class="form-group col-md-2">
      <button (click)="generaExcell()" type="button" class="btn btn-outline-success mb-2 ml-3"> 
        Descargar
        <i class="far fa-file-excel"></i> </button>
    </div>
   
    
  </div>

</form>

<!--
<div *ngIf="asignados.length>0">
  <button (click)="generarTablaPdf()" type="button" class="btn btn-danger mb-2 ml-3"> Generar Pdf </button>
</div>
-->

<div id="content_pdf" >

<app-asignados-grid *ngIf="asignados.length>0" [asignados]="asignados"></app-asignados-grid>

<app-noresultados *ngIf="noencontrados==true"></app-noresultados>

</div>

<!-- <app-usuarios-grid *ngIf="personas.length>0" [personas]="personas"></app-usuarios-grid> -->

