<div class="container-fluid mt-3">

  <div *ngIf="this.datosMovimiento" class="form-group">
    <p class="text-center text-capitalize font-weight-bold">
      {{ this.datosMovimiento.APE1 }}
      {{ this.datosMovimiento.APE2 }} ,
      {{ this.datosMovimiento.NOMBRE }} -
      {{ this.datosMovimiento.NIF }}
    </p>
  </div>

  <div *ngIf="this.datosParcela"  class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr class="table-secondary">
         <!--   <th class="text-center" colspan="12">Nombre Mercadillo</th> -->
         <th class="text-center" colspan="12">
             {{ mercadillo }}
        </th>

        </tr>
        <tr class="table-success">
            <th class="text-center" colspan="12">Datos Parcela</th>
        </tr>
        <tr class="table-secondary">
            <th class="text-center" >Parcela</th>
            <th class="text-center" >Superficie</th>
            <th class="text-center" >Fecha Alta</th>
            <th class="text-center" >Nº. JJAA</th>
            <th class="text-center" colspan="4">Actividad</th>
            <th class="text-center" >F. Estado</th>
            <th class="text-center" colspan="3">Estado</th>
        </tr>
        <tr class="table-Light">
            <td class="text-center" >{{ datosParcela.NUMERO }}</td>
            <td class="text-center" >{{ datosParcela.SUPERFICIE }}</td>
            <td class="text-center" >{{ datosParcela.FECHA_ALTA }}</td>
            <td class="text-center" >{{ datosMovimiento.JJAA }}</td>
            <td class="text-center" colspan="4">Actividad</td>
            <td class="text-center" >{{ datosParcela.FECHA_ESTADO }}</td>
            <td class="text-center" colspan="3">{{ datosParcela.COD_ESTADO }}</td>
        </tr>
        <tr class="table-primary">
            <th class="text-center" colspan="12">Movimiento</th>
        </tr>
        <tr class="table-secondary">
            <th class="text-center" >F. Alta</th>
            <th class="text-center" >F. Efecto</th>
            <th class="text-center" colspan="5">Operacion</th>
            <th class="text-center" >F. Operacion</th>
            <th class="text-center" >Ult. Situacion</th>
            <th class="text-center" >Fin Vigencia</th>
        </tr>
      </tbody>
    </table>

  </div>


</div>

