<div class="container-fluid mt-3">

  <div *ngIf="this.datosMovimiento" class="form-group">
    <h3 class="text-center text-capitalize font-weight-bold">
      {{ this.datosMovimiento.APE1 }}
      {{ this.datosMovimiento.APE2 }} ,
      {{ this.datosMovimiento.NOMBRE }} -
      {{ this.datosMovimiento.NIF }}
    </h3>
  </div>

  <!-- BOTONES  -->
  <div class="text-center mb-3">
		<div class="d-inline-block">

    <div class="btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">
     
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="onRegresar()">Atras</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="editarMovimiento()" >Editar</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary">Baja Parcela</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="altaAdjudicatario()">Alta Adj.</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="bajaAdjudicatario()">Baja Adj.</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button class="btn btn-secondary" (click)="verAutorizados()">Autorizados</button>

      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary">Dias Venta.</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary">Exped</button>
      </div>

    </div>

    </div>



  </div>

 <!-- FIN BOTONES-->

  <div *ngIf="this.datosParcela && this.actividad"  class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr class="table-warning">   
         <!--   <th class="text-center" colspan="12">Nombre Mercadillo</th>
              table-secondary    -->
         <th class="text-center" colspan="12">
             {{ mercadillo }}
        </th>

        </tr>
        <tr class="table-success">
            <th class="text-center" colspan="12">Datos Parcela</th>
        </tr>
        <tr class="table-secondary">
            <th class="text-center">Parcela</th>
            <th class="text-center">Superficie</th>
            <th class="text-center">Fecha Alta</th> 
            <th class="text-center">F. Estado</th>
            <th class="text-center" colspan="8">Estado</th>
        </tr>
        <tr class="table-Light">
            <td class="text-center">{{ datosParcela.NUMERO }}</td>
            <td class="text-center">{{ datosParcela.SUPERFICIE }}</td>
            <td class="text-center">{{ datosParcela.FECHA_ALTA }}</td>
            <td class="text-center">{{ datosParcela.FECHA_ESTADO }}</td>
            <td class="text-center" colspan="8">{{ datosParcela.COD_ESTADO }}</td>       
        </tr>
        <tr class="table-secondary">
          <th class="text-center" colspan="2">Nº. JJAA</th>
          <th class="text-center" colspan="10">Actividad</th>
        </tr>
        <tr>
          <td class="text-center" colspan="2">{{ datosMovimiento.JJAA }}</td>
          <td class="text-center" colspan="10">{{ actividad.DESC_ACTIVIDAD }}</td>
        </tr>
        <tr class="table-primary">
            <th class="text-center" colspan="12">Movimiento</th>
        </tr>
      

        <tr class="table-secondary">
            <th class="text-center">F. Alta</th>
            <th class="text-center">F. Efecto</th>
            <th class="text-center" colspan="5">Operacion</th>
            <th class="text-center">F. Operacion</th>
            <th class="text-center">Ult. Situacion</th>
            <th class="text-center">Fin Vigencia</th>
        </tr>
        <tr class="table-Light">
         <!--   <td class="text-center">{{ datosParcela.NUMERO }}</td>
            <td class="text-center">{{ datosParcela.SUPERFICIE }}</td> -->
            <td class="text-center">  {{ datosMovimiento.FECHA_MOV}} </td>
            <td class="text_center"> {{ datosMovimiento.F_EFECTIVA_MOV}}</td>
            <td class="text-center" colspan="5">{{ datosMovimiento.DES_OPERACION }}</td>
          <!-- F_EFECTIVA_MOV  <td class="text-center">{{ datosMovimiento.JJAA }}</td> -->
            <td class="text-center"> {{ datosMovimiento.FECHA_MOV}}</td>
            <td class="text-center">{{ datosMovimiento.ACTIVO }}</td>
          <!--  FIN_VIGENCIA   
            <td class="text-center">{{ datosParcela.FECHA_ESTADO }}</td>  -->
            <td class="text-center">{{ datosMovimiento.FIN_VIGENCIA}}</td>
        </tr>
      </tbody>
    </table>

  </div>


</div>

