<form (ngSubmit)="guardar(f)" #f="ngForm">

    <div class="form-row">
        <div class="form-group col-md-3">
          <label>Fecha Alta</label>
    
          <input type="date" class="form-control"
            #fecha = "ngModel"
            name = "fecha"
            [(ngModel)] = "parcela.FECHA_ALTA"
          >
          <!--
          <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>  
          -->  
        </div>
    
        <div class="form-group col-md-9">
          <label>Mercadillo</label>
          <select class="form-control"
              #mercadillo = "ngModel"
              name = "mercadillo"  
              [(ngModel)]="parcela.IDMERCADILLO">
            <option [value]="mercadillo.IDMERCADILLO" *ngFor="let mercadillo of listadoMercadillos"
            [selected]="parcela.IDMERCADILLO === mercadillo.IDMERCADILLO"
            >
              {{mercadillo.DESCRIPCION}}</option>
          </select>
             
        </div>
       
    </div>

    <div class="form-inline">
        <div class="form-group">
          <label>Parcela</label>
          <input type="number" class="form-control ml-3"
            #numero = "ngModel"
            name = "numero"
            [(ngModel)] = "parcela.NUMERO"
          >
          <!--
          <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>  
          -->  
        </div>
    
        <div class="form-group">
          <label class="ml-3">Superficie</label>
          <input type="text" class="form-control ml-3"
            #superficie = "ngModel"
            name = "superficie"
            [(ngModel)] = "parcela.SUPERFICIE"
          >
             
        </div>
       
        <div class="form-group ml-3 justify-content-center">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </div>
        
        <!-- Version anterior del boton 
        
        <button type="submit" class="justify-content-center form-group mx-sm-2 btn btn-primary  w-25">
            <i class="fa fa-save"></i>
             Grabar
        </button>-->

    </div>


</form>


